@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
    --primary-white: #ffffff;
    --primary-orange: #fcba04ff;
    --primary-red: #ff4444;
    --primary-hover-red: rgb(85, 62, 21);
    --primary-dark: #03071eff;
    --hover-lavender: rgb(187, 136, 145);
    --secondary-blue: #90fcf9ff;
    --selective-yellow: #fcba04ff;
    --comp-color: rgba(7, 61, 59, 1);
}

body {
    transition: 0.2s ease-in-out;
    font-family: "Roboto condensed";
}

.App {
    /* background-color: #8cee8b;
    opacity: 0.9;
    background-image: radial-gradient(circle at center center, #050508, #8cee8b), repeating-radial-gradient(circle at center center, #050508, #050508, 34px, transparent 68px, transparent 34px);
    background-blend-mode: multiply; */
    /* background-color: var(--primary-dark); */
    /* background-image: linear-gradient(180deg, var(--primary-dark) 0%, #4a4b69 50%, #000000 100%); */
}


/* navbar----------------------------------------------------------- */

nav {
    z-index: 4;
    padding: 0;
    margin: 0;
    background-color: var(--comp-color) !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 1.5rem 0 rgba(10, 10, 10, 0.945);
    /* background-color: rgba(6, 31, 59, 0.822) !important; */
}

.nav-logo {
    height: 4rem;
    margin-top: 5px;
}


/* menu links----------------------------------------- */

nav a.nav-link {
    /* font-weight: 500; */
    font-size: .8rem;
    letter-spacing: 0.0375rem;
    cursor: pointer;
    color: var(--primary-white) !important;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav>li {
    /* margin-right: 0.75rem;
    margin-left: 0.75rem; */
    color: var(--primary-white)!important;
    border-top: 0.1875rem solid var(--comp-color);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition: 0.5s ease-in-out;
}


/* .navbar-nav>::after,
.navbar-nav>::before {
    content: " ";
    display: block;
    width: 15px;
    
    border-top: 0.1875rem solid var(--primary-orange);
    transition: width .3s;
} */

.navbar-brand {
    max-width: 10rem;
    padding: 0 !important;
    height: 5rem !important;
}

@media (max-width: 768px) {
    .navbar-brand {
        max-width: 5rem !important;
        height: 4rem !important;
        margin-left: 0;
    }
    .container {
        width: 100%;
        padding: 0;
        margin: 0
    }
}

.navbar-nav>li>a.active,
.navbar-nav>li>a.active:focus {
    border-top: 0.1875rem solid var(--primary-orange);
    color: var(--primary-orange) !important;
}

.navbar-nav>li:hover {
    border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-toggler>svg,
.navbar-toggler,
navbar-toggler collapsed {
    color: var(--primary-white);
}


/* Header-------------------------------------------- */

.header-wrapper {
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.692)), url("./images/bg1-min.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-shadow: 0 0 2rem 0 rgba(10, 10, 10, 0.945);
}

.main-info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto condensed" !important;
    z-index: 1;
}

.main-info h1 {
    color: var(--primary-orange);
    text-transform: uppercase;
}

@media(max-width:768px) {
    .main-info h1 {
        font-size: 1.5rem !important;
    }
    .typed-text {
        font-size: 1rem !important;
    }
}


/* -----typed text */

.Typewriter__wrapper {
    font-size: 2rem;
    color: var(--primary-white);
}

.Typewriter__cursor {
    font-size: 2rem;
    color: var(--primary-white);
}


/* btn-main-offer------ */

.btn-main-offer {
    border: 2px solid var(--primary-hover-red);
    text-transform: uppercase;
    border-radius: 2rem;
    padding: 0.5rem 0.75rem;
    color: var(--primary-white);
    margin-top: 2rem;
    text-decoration: none !important;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(5, 5, 5, 0.904);
}

#tsparticles {
    /* position: absolute;
    height: 100%;
    width: 98vw;
    z-index: 1;
    overflow: hidden; */
}

.particles-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.btn-main-offer:hover {
    background-color: var(--primary-hover-red);
    transition: 0.2s ease-in-out;
    color: var(--primary-white);
}

@media(max-width:768px) {
    .particles-canvas {
        /* display: none; */
    }
}