@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
    --primary-white: #fff;
    --primary-orange: #f9ab00;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501
}

body {
    transition: 0.2s ease-in-out;
    font-family: "Roboto condensed";
}


/* navbar----------------------------------------------------------- */

nav {
    z-index: 4;
    padding: 0;
    margin: 0;
    background-color: rgba(6, 31, 59, 0.822);
}

@media(min-width: 992px) {
    nav {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(6, 31, 59, 0.822) !important;
    }
}

.nav-logo {
    height: 4rem;
    margin-top: 5px;
}


/* menu links----------------------------------------- */

nav a.nav-link {
    /* font-weight: 500; */
    font-size: .8rem;
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav>li>a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white)!important;
    border-top: 0.1875px solid var(--primary-dark);
}

.navbar-brand {
    max-width: 10rem;
    padding: 0 !important;
    height: 5rem !important;
}

@media (max-width: 768px) {
    .navbar-brand {
        max-width: 5rem !important;
        height: 4rem !important;
        margin-left: 0;
    }
    .container {
        width: 100%;
        padding: 0;
        margin: 0
    }
}

.navbar-nav>li>a.active,
.navbar-nav>li>a.active:focus {
    border-top: 0.1875px solid var(--primary-orange);
}

.navbar-nav>li>a:hover {
    border-top: 0.1875px solid var(--primary-orange);
}

.navbar-toggler>svg,
.navbar-toggler,
navbar-toggler collapsed {
    color: var(--primary-white);
}


/* Header-------------------------------------------- */

.header-wrapper {
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.692)), url("./images/bg1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
}

.main-info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto condensed" !important;
    z-index: 1;
}

.main-info h1 {
    color: var(--primary-orange);
    text-transform: uppercase;
}

@media(max-width:768px) {
    .main-info h1 {
        font-size: 1.5rem !important;
    }
    .typed-text {
        font-size: 1rem !important;
    }
}


/* -----typed text */

.Typewriter__wrapper {
    font-size: 2rem;
    color: var(--primary-white);
}

.Typewriter__cursor {
    font-size: 2rem;
    color: var(--primary-white);
}


/* btn-main-offer------ */

.btn-main-offer {
    border: 1px solid var(--primary-red);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    color: var(--primary-white);
    margin-top: 2rem;
    text-decoration: none !important;
}

#tsparticles {
    /* position: absolute;
    height: 100%;
    width: 98vw;
    z-index: 1;
    overflow: hidden; */
}

.particles-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.btn-main-offer:hover {
    background-color: var(--primary-hover-red);
    transition: 0.2s ease-in-out;
}

@media(max-width:768px) {
    .particles-canvas {
        /* display: none; */
    }
}